.rw-conversation-container .rw-header{
    background-color: #f50da8;
}

.rw-conversation-container .rw-client{
       background-color: #f50da8; 
}
.conversation-container close-button {
    background-color: #f50da8;
}

.rw-launcher{
    background-color: #f50da8;
}